## Importing the Required Libraries

In [4]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows',1000)
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold,ShuffleSplit,GridSearchCV,StratifiedShuffleSplit
from sklearn.preprocessing import LabelEncoder
from math import sqrt
import lightgbm as lgb
import xgboost as xgb
from tqdm import tqdm

In [12]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
train.head()

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,F00000001,188,1,0,1,0,0.0,0,1,0
1,F00000003,209,1,0,1,0,0.0,0,2,1
2,F00000004,257,1,0,1,0,0.0,0,2,1
3,F00000005,257,1,1,1,0,0.0,0,2,1
4,F00000006,342,1,0,1,0,0.0,0,2,1

In [13]:
# imputing all the null values with -1
train.fillna(-1, inplace=True)
test.fillna(-1,inplace=True)

In [14]:
train1 = train
test1 = test

In [15]:
# extracting the number from id column
train1['ID'] = train.apply(lambda x : int(x['ID'][1:]), axis = 1)
test1['ID'] = test.apply(lambda x : int(x['ID'][1:]), axis =1)
train1.head()

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,1,188,1,0,1,0,0.0,0,1,0
1,3,209,1,0,1,0,0.0,0,2,1
2,4,257,1,0,1,0,0.0,0,2,1
3,5,257,1,1,1,0,0.0,0,2,1
4,6,342,1,0,1,0,0.0,0,2,1

In [16]:
#Appending both the datasets to create a combined dataset
result = train1.append(test1, sort=False)
result = result.reset_index(drop=True)
# sort by ID to find out patterns 
result= result.sort_values(by=['ID'])

In [17]:
result

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,1,188,1,0,1,0,0.0,0,1,0.0
88858,2,188,1,1,1,0,-1.0,0,2,NaN
1,3,209,1,0,1,0,0.0,0,2,1.0
2,4,257,1,0,1,0,0.0,0,2,1.0
3,5,257,1,1,1,0,0.0,0,2,1.0
...,...,...,...,...,...,...,...,...,...,...
148165,155941,3702,1,0,2,10,-1.0,48,1,NaN
88856,155942,3702,1,0,2,10,25.0,18,3,0.0
148166,155943,3702,1,0,2,10,28.0,17,2,NaN
148167,155944,3895,1,0,2,5,52.0,7,1,NaN
88857,155945,3895,1,0,2,20,37.0,7,3,0.0

In [18]:
# make the loop
# the features that we are targeting are - 
'''
1 - Group
2 - Group_Change 
3 - Group_First
4 - Group_Last
5 - Batch_Last
'''

# Initialization
result['Group'] = 0 
result['Group'][0] = 1
result['Group_Change'] = 0
result['Group_First'] = 0
result['Group_Last'] = 0
result['Batch_Last'] = 0
result['Group_First'][0] = 1
result['Soil_Change'] = 0
result

C:\Users\iamma\.conda\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\iamma\.conda\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage,Group,Group_Change,Group_First,Group_Last,Batch_Last,Soil_Change
0,1,188,1,0,1,0,0.0,0,1,0.0,1,0,1,0,0,0
88858,2,188,1,1,1,0,-1.0,0,2,NaN,0,0,0,0,0,0
1,3,209,1,0,1,0,0.0,0,2,1.0,0,0,0,0,0,0
2,4,257,1,0,1,0,0.0,0,2,1.0,0,0,0,0,0,0
3,5,257,1,1,1,0,0.0,0,2,1.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148165,155941,3702,1,0,2,10,-1.0,48,1,NaN,0,0,0,0,0,0
88856,155942,3702,1,0,2,10,25.0,18,3,0.0,0,0,0,0,0,0
148166,155943,3702,1,0,2,10,28.0,17,2,NaN,0,0,0,0,0,0
148167,155944,3895,1,0,2,5,52.0,7,1,NaN,0,0,0,0,0,0
88857,155945,3895,1,0,2,20,37.0,7,3,0.0,0,0,0,0,0,0

In [21]:
col_len=result.shape[0]
check_for_period_of_28days_over= abs(result['Estimated_Insects_Count'][i] - result['Estimated_Insects_Count'][i-1]) > 1
#if the above condition is satisfied that means that the previous group has to be named and a new group begins from current i
# so accordingly labels are given

In '#2' line the condition checks whether the soil type is same,if it is same then they both will be in the same group ie having same group number or else different group number which is written in the second else statement.

In [22]:

#Start loop
for i in range(2,col_len):
    if (check_for_period_of_28days_over):
        result['Group'][i] = result['Group'][i-1] + 1
        result['Group_First'][i] = 1
        result['Group_Last'][i-1] = 1
        result['Batch_Last'][i-1] = 1
        result['Group_Num'] = 1
    else:
        if (result['Number_Doses_Week'][i] >= result['Number_Doses_Week'][i-1]):
            if (result['Soil_Type'][i] == result['Soil_Type'][i-1]):  #2
                result['Group'][i] = result['Group'][i-1]   #3
                result['Group_Num'][i] = result['Group_Num'][i-1] + 1 #4
            else:
                result['Group'][i] = result['Group'][i-1] + 1 #5
                result['Group_Num'] = 1 #6
        else:
            result['Group'][i] = result['Group'][i-1] + 1 #7
            result['Group_Change'][i] = 1  #8
            result['Group_First'][i] = 1   #9
            result['Group_Last'][i-1] = 1  #10
            result['Group'][i] = result['Group'][i-1] + 1 #11
    if (i%1000==0):
        print(i,'th iteration completed')

C:\Users\iamma\.conda\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\iamma\.conda\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\iamma\.conda\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\iamma\.conda\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\iamma\.conda\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\iamma\.conda\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\iamma\.conda\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\iamma\.conda\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1000 th iteration completed
2000 th iteration completed
3000 th iteration completed
4000 th iteration completed
5000 th iteration completed
6000 th iteration completed
7000 th iteration completed
8000 th iteration completed
9000 th iteration completed
10000 th iteration completed
11000 th iteration completed
12000 th iteration completed
13000 th iteration completed
14000 th iteration completed
15000 th iteration completed
16000 th iteration completed
17000 th iteration completed
18000 th iteration completed
19000 th iteration completed
20000 th iteration completed
21000 th iteration completed
22000 th iteration completed
23000 th iteration completed
24000 th iteration completed
25000 th iteration completed
26000 th iteration completed
27000 th iteration completed
28000 th iteration completed
29000 th iteration completed
30000 th iteration completed
31000 th iteration completed
32000 th iteration completed
33000 th iteration completed
34000 th iteration completed
35000 th iteration completed
36000 th iteration completed
37000 th iteration completed
38000 th iteration completed
39000 th iteration completed
40000 th iteration completed
41000 th iteration completed
42000 th iteration completed
43000 th iteration completed
44000 th iteration completed
45000 th iteration completed
46000 th iteration completed
47000 th iteration completed
48000 th iteration completed
49000 th iteration completed
50000 th iteration completed
51000 th iteration completed
52000 th iteration completed
53000 th iteration completed
54000 th iteration completed
55000 th iteration completed
56000 th iteration completed
57000 th iteration completed
58000 th iteration completed
59000 th iteration completed
60000 th iteration completed
61000 th iteration completed
62000 th iteration completed
63000 th iteration completed
64000 th iteration completed
65000 th iteration completed
66000 th iteration completed
67000 th iteration completed
68000 th iteration completed
69000 th iteration completed
70000 th iteration completed
71000 th iteration completed
72000 th iteration completed
73000 th iteration completed
74000 th iteration completed
75000 th iteration completed
76000 th iteration completed
77000 th iteration completed
78000 th iteration completed
79000 th iteration completed
80000 th iteration completed
81000 th iteration completed
82000 th iteration completed
83000 th iteration completed
84000 th iteration completed
85000 th iteration completed
86000 th iteration completed
87000 th iteration completed
88000 th iteration completed
89000 th iteration completed
90000 th iteration completed
91000 th iteration completed
92000 th iteration completed
93000 th iteration completed
94000 th iteration completed
95000 th iteration completed
96000 th iteration completed
97000 th iteration completed
98000 th iteration completed
99000 th iteration completed
100000 th iteration completed
101000 th iteration completed
102000 th iteration completed
103000 th iteration completed
104000 th iteration completed
105000 th iteration completed
106000 th iteration completed
107000 th iteration completed
108000 th iteration completed
109000 th iteration completed
110000 th iteration completed
111000 th iteration completed
112000 th iteration completed
113000 th iteration completed
114000 th iteration completed
115000 th iteration completed
116000 th iteration completed
117000 th iteration completed
118000 th iteration completed
119000 th iteration completed
120000 th iteration completed
121000 th iteration completed
122000 th iteration completed
123000 th iteration completed
124000 th iteration completed
125000 th iteration completed
126000 th iteration completed
127000 th iteration completed
128000 th iteration completed
129000 th iteration completed
130000 th iteration completed
131000 th iteration completed
132000 th iteration completed
133000 th iteration completed
134000 th iteration completed
135000 th iteration completed
136000 th iteration completed
137000 th iteration completed
138000 th iteration completed
139000 th iteration completed
140000 th iteration completed
141000 th iteration completed
142000 th iteration completed
143000 th iteration completed
144000 th iteration completed
145000 th iteration completed
146000 th iteration completed
147000 th iteration completed
148000 th iteration completed

In [23]:
for i in range(1,(result.shape[0]-1)):
    if(result['Group_Last'][i] == 1 and result['Soil_Type'][i] != result['Soil_Type'][i+1]):
        result['Soil_Change'][i] = 1

C:\Users\iamma\.conda\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [24]:
#the above loop is to give values to the soil change column which is including the condition that the group change occurs
# simultaneously alongwith soil type change,if group change doesn't occur,then we dont give a fuck about the soil change
#this is completely my understanding of what feature engineering has been done.
result

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage,Group,Group_Change,Group_First,Group_Last,Batch_Last,Soil_Change,Group_Num
0,1,188,1,0,1,0,0.0,0,1,0.0,1,0,1,0,0,0,1
88858,2,188,1,1,1,0,-1.0,0,2,NaN,17941,1,1,1,1,0,1
1,3,209,1,0,1,0,0.0,0,2,1.0,0,0,0,1,1,0,1
2,4,257,1,0,1,0,0.0,0,2,1.0,0,0,1,0,0,0,1
3,5,257,1,1,1,0,0.0,0,2,1.0,1,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148165,155941,3702,1,0,2,10,-1.0,48,1,NaN,32398,1,1,0,0,0,1
88856,155942,3702,1,0,2,10,25.0,18,3,0.0,17940,1,1,1,1,0,1
148166,155943,3702,1,0,2,10,28.0,17,2,NaN,32398,0,0,1,1,0,2
148167,155944,3895,1,0,2,5,52.0,7,1,NaN,32399,1,1,0,0,0,1
88857,155945,3895,1,0,2,20,37.0,7,3,0.0,17940,0,1,1,1,1,1

In [25]:
#getting our test and train sets back
testRedifined = result.loc[result['Crop_Damage'].isnull()]
trainRedifined = result.dropna()
testRedifined = testRedifined.drop(columns=['ID','Crop_Damage']).reset_index(drop=True)
trainRedifined = trainRedifined.drop(columns=['ID']).reset_index(drop=True)

In [26]:
trainRedifined

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage,Group,Group_Change,Group_First,Group_Last,Batch_Last,Soil_Change,Group_Num
0,188,1,0,1,0,0.0,0,1,0.0,1,0,1,0,0,0,1
1,209,1,0,1,0,0.0,0,2,1.0,0,0,0,1,1,0,1
2,257,1,0,1,0,0.0,0,2,1.0,0,0,1,0,0,0,1
3,257,1,1,1,0,0.0,0,2,1.0,1,0,0,1,1,1,1
4,342,1,0,1,0,0.0,0,2,1.0,2,0,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88853,3337,1,0,2,10,12.0,44,3,0.0,17939,1,1,1,1,0,1
88854,3516,1,0,2,10,20.0,38,1,0.0,17939,0,1,0,0,0,1
88855,3516,1,0,2,15,40.0,8,2,0.0,17939,0,0,1,1,0,1
88856,3702,1,0,2,10,25.0,18,3,0.0,17940,1,1,1,1,0,1
88857,3895,1,0,2,20,37.0,7,3,0.0,17940,0,1,1,1,1,1

In [27]:
from pycaret.classification import *

In [29]:
exp = setup(data = trainRedifined, target = 'Crop_Damage', session_id=1,
                  normalize = True,
                categorical_features = ['Crop_Type','Soil_Type','Pesticide_Use_Category','Season'],
                numeric_features=['Estimated_Insects_Count','Number_Doses_Week','Number_Weeks_Quit','Number_Weeks_Used'],
                categorical_imputation='mode',
                numeric_imputation='mean',
            remove_outliers=True,
            outliers_threshold=0.1,
            normalize_method='robust',
            feature_selection=True,
            feature_selection_threshold=0.9,
            remove_multicollinearity=True,
            
                )

Setup Succesfully Completed!

In [ ]:
compare_models()

Catboost was taking a long time so left it out because our purpose was satisfied with lightgbm.

#### See the power of Pycaret woh ladke ne Data scaling ke baad sab kuch jo kiya hain na woh main 5 line main kiya and with everything K fold cv and also robust scaling and with multiple comparisons and with lightgbm and xgboost.

In [31]:
lgbm=create_model('lightgbm')

In [32]:
tuned_lgbm=tune_model(lgbm,optimize='Accuracy')

# Now we are going to ensemble lightgbm with xgboost.

In [33]:
bagged_lightgbm = ensemble_model(tuned_lgbm)

In [34]:
boosted_svm = ensemble_model(tuned_lgbm,method='Boosting')

In [36]:
unseen_predictions = predict_model(tuned_lgbm, data=testRedifined)
unseen_predictions.head()

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Group,Group_Change,Group_First,Group_Last,Batch_Last,Soil_Change,Group_Num,Label
0,188,1,1,1,0,-1.0,0,2,17941,1,1,1,1,0,1,0
1,410,1,1,1,0,0.0,0,2,17941,0,1,1,1,1,1,0
2,626,1,0,1,0,0.0,0,2,17942,0,1,1,1,0,1,0
3,731,1,0,1,0,0.0,0,2,17942,0,1,1,1,0,1,0
4,789,0,0,1,0,0.0,0,1,17942,0,1,1,1,1,1,1

In [37]:
#label is your predicted value
unseen_predictions.to_csv('90%submission_file.csv')